<nav class="navbar has-shadow">
  <div class="container is-fluid">
    <div class="navbar navbar-tabs tabs">
        <%= link_to 'Members', members_path, class: "navbar-item is-tab" %>
        <%= link_to 'Groups', groups_path, class: "navbar-item is-tab" %>
        <%= link_to 'Loans', loans_path, class: "navbar-item is-tab" %>
        <%= link_to 'Items', items_path, class: "navbar-item is-tab" %>
        <%= link_to 'Categories', categories_path, class: "navbar-item is-tab" %>
    </div>
  </div>
</nav>