<%= form_with model: @group, local:true do |form| %>

<% if @group.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@group.errors.count, "error") %>
      prohibited this group from being saved:
    </h2>
    <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :name, class: "label" %>
  <div class="control">
    <%= form.text_field :name, class: "input" %>
  </div>
</div>

<div class="field">
  <%= form.label :is_active, class: "label" %>
  <div class="control">
    <%= form.check_box :is_active, { checked: @group.is_active, class: "checkbox" }, 1, 0 %>
  </div>
</div>

&nbsp;
<div class="field is-grouped">
  <div class="control">
    <%= form.submit class: 'button is-primary' %>
  </div>
  <div class="control">
    <%= link_to 'Cancel', groups_path, class: "button is-light" %>
  </div>
</div>
<% end %>