<div class="container is-fluid">
  <% flash.each_with_index do |(key, message), index| %>
    <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
      <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
      <%= message %>
    </div>
    <% end %>
</div>

<div class="text-center">
  <div style="width: 100%; max-width: 430px; padding: 15px; margin: auto;" class="mt-5">
    <% if @borrowers.empty? %>
      <div class="jumbotron">
        <p class="lead">No items are borrowed.</p>
      </div>
    <% else %>
      <h3>Current Loans</h3>
      <ul class="list-group">
        <% @borrowers.each do |person| -%>
          <%= link_to member_path(person), wrap_tag: 'li', class: "list-group-item d-flex justify-content-between align-items-center" do %>
            <%= "#{person.full_name}" %>
            <span class="badge badge-primary badge-pill"><%= person.loans.active.size %></span>
          <% end %>
        <% end -%>
      </ul>
    <% end %>
  </div>
</div>