<div class="container is-fluid">
  <% flash.each_with_index do |(key, message), index| %>
    <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
      <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
      <%= message %>
    </div>
    <% end %>
</div>
<section class="hero">
  <div class="hero-center">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
            <% if @borrowers.empty? %>
              <div class="box hero has-text-centered">
                <div class="hero-body">
                  <p class="subtitle is-4 has-text-grey-dark has-text-weight-light">
                    No items are borrowed.
                  </p>
                </div>
              </div>
              <% else %>
                <div class="panel">
                  <div class="panel-heading">
                    Current Loans
                  </div>
                  <% @borrowers.each do |person| -%>
                    <%= link_to member_path(person), class: "panel-block" do %>
                      <div class="is-pulled-right tag is-warning">
                        <%= person.active_loans_count %>
                      </div>
                      &nbsp;
                      <%= "#{person.full_name}" %>
                        <% end %>
                          <% end -%>
                </div>
                <% end %>
          </div>
        </div>
      </div>
    </div>
</section>