<div class="container-fluid">
  <% flash.each_with_index do |(key, message), index| %>
    <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
      <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
      <%= message %>
    </div>
    <% end %>
</div>
<div class="relaxed ui grid centered">
  <% if @borrowers.empty? %>
    <div class="box hero has-text-centered">
      <div class="hero-body">
        <p class="subtitle is-4 has-text-grey-dark has-text-weight-light">
          No items are borrowed.
        </p>
      </div>
    </div>
  <% else %>
    <table class="ui table large collapsing">
      <thead>
        <tr>
          <th colspan=2>Current Loans</th>
        </tr>
      </thead>
      <tbody>
        <% @borrowers.each do |person| %>
          <tr>
            <td>
            <%= link_to "#{person.full_name}", member_path(person) %>
            </td>
            <td><div class="ui red circular label"><%= person.loans.active.size %></div></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </table>
  <% end %>
</div>