<!-- <section class="hero is-primary has-shadow"> <div class="hero-body hero-background"> <div class="container is-fluid"> <h1 class="title">CheckItOut</h1> </div> </div> </section> -->

<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="hero is-medium is-light-green">
          <div class="hero-body has-text-centered">
            <h1 class="title">
              Scan Student ID
            </h1>
            <%= form_tag(members_search_path, :method => "get", id: "search-form" ) do %>
            <div class="field has-addons has-addons-centered">
              <div class="control">
                <%= text_field_tag :search, params[:search], placeholder: "Search Members", class: "input", autofocus: true, autocomplete: "off" %>
              </div>
              <div class="control">
                <%= submit_tag "Search", :name => nil, class: "button is-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <% if @borrowers.empty? %>
        <div class="box hero has-text-centered">
          <div class="hero-body">
            <p class="subtitle is-4 has-text-grey-dark has-text-weight-light">
              No items are borrowed.
            </p>
          </div>
        </div>
      <% else %>
        <div class="panel">
          <p class="panel-heading">
            Current Loans
          </p>
          <% @borrowers.each do |person| -%>
            <%= link_to member_path(person), class: "panel-block" do %>
            <div class="is-pulled-right tag is-warning">
              <%= person.loans.active.size %>
            </div>
            &nbsp;
            <%= "#{person.full_name}" %>
          <% end %>
        <% end -%>

      </div>
    <% end %>
  </div>
</div>
</section>