<%= form_with model: @item, local:true do |form| %>

<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@item.errors.count, "error") %>
      prohibited this item from being saved:
    </h2>
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :brand, class: "label" %>
  <div class="control">
    <%= form.text_field :brand, class: "input" %>
  </div>
</div>

<div class="field">
  <%= form.label :name, class: "label" %>
  <div class="control">
    <%= form.text_field :name, class: "input" %>
  </div>
</div>

<div class="field">
  <%= form.file_field :image %>
</div>

<div class="field">
  <%= form.label :serial_number, class: "label" %>
  <div class="field has-addons">
    <p class="control">
      <a class="button is-static">
        sn
      </a>
    </p>
    <div class="control">
      <%= form.text_field :serial_number, class: "input" %>
    </div>
  </div>
</div>

<div class="field">
  <%= form.label :inventory_tag, class: "label" %>
  <div class="field has-addons">
    <p class="control">
      <a class="button is-static">
        <i class=" icon-tag"></i>
      </a>
    </p>
    <div class="control">
      <%= form.text_field :inventory_tag, class: "input" %>
    </div>
  </div>
</div>

<div class="field">
  <%= form.label :description, class: "label" %>
  <div class="control">
    <%= form.text_field :description, class: "input" %>
  </div>
</div>

<div class="field">
  <%= form.label :category_id, class: "label" %>
  <div class="control">
    <div class="select">
      <%= form.collection_select(:category_id, Category.all, :id, :name, {include_blank: true} ) %>
    </div>
  </div>
</div>
&nbsp;
<div class="field is-grouped">
  <div class="control">
    <%= form.submit class: 'button is-primary' %>
  </div>
  <div class="control">
    <%= link_to 'Cancel', items_path, class: "button is-light" %>
  </div>
</div>

<% end %>