<div class="ui container">
  <h1 class="ui header">
      <i class="<%= @item.category.icon %>"></i>&nbsp;
      <%= @item.full_name %>
  </h1>
  <div class="sub header">
    <div class="ui labels">
      <div class="ui teal image label">
        tag #
        <div class="detail is-monospaced"><%= @item.inventory_tag %></div>
      </div>
      <% if !@item.serial_number.blank? %>
        <div class="ui image label">
          serial #
          <div class="detail is-monospaced"><%= @item.serial_number %></div>
        </div>
      <% end %>
      <% if @loans.active.blank? %>
        <div class="ui green image label">
          status
          <div class="detail is-monospaced">available</div>
        </div>
      <% else %>
        <div class="ui red image label">
          status
          <div class="detail is-monospaced">on loan</div>
        </div>
      <% end %>
      </div>
    </div>
  </h1>
</div>

<% flash.each_with_index do |(key, message), index| %>
  <div class="container">
    <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
      <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
      <%= raw(message) %>
    </div>
  </div>
<% end %>

<table id="current_loans" class="ui single line table">
  <thead>
    <th>Member</th>
    <th>Borrowed</th>
    <th>Returned</th>
    <th>Duration</th>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td>
          <%= link_to loan.member.full_name, member_path(loan.member), class: "hidden-link" %>
          <% if loan.returned_at.blank? %>
            <div class="ui left pointing red small label">on loan</div>
          <% end %>
        </td>
        <td>
          <%= local_time_ago(loan.created_at) %>
        </td>
        <td>
          <% if loan.returned_at %>
            <%= local_time_ago(loan.returned_at) %>
          <% else %>
            <span class="tag is-danger">on loan</span>
          <% end %>
        </td>
        <td>
          <%= loan.days_borrowed %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
