<!DOCTYPE html>
<!-- <html class="has-navbar-fixed-top"> -->
<html>

<head>
  <title>CheckItOut</title>
  <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="ui fixed large inverted menu">
    <div class="ui container">
      <%= link_to 'CheckItOut', welcome_index_path, class: "header item" %>
      <div class="item">
        <%= form_with url:search_members_path, local: true, method: :get, html: { id: "search-form" } do |form| %>
        <div class="field">
          <div class="control">
            <%= form.text_field :q, placeholder: "Find Student", class: "input", autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "false", id: 'member-autocomplete', data: { behavior: 'autocomplete'} %>
          </div>
        </div>
        <% end %>
      </div>
      <%= link_to 'Members', members_path, class: "item" %>
      <%= link_to 'Items', items_path, class: "item" %>
      <a class="right item" href="/admin">Admin</a>
    </div>
  </div>

  <div class="ui main container">
    <%= yield %>
  </div>
</body>

</html>