<!DOCTYPE html>
<!-- <html class="has-navbar-fixed-top"> -->
<html class="">

<head>
  <title>CheckItOut</title>
  <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>

      <%= javascript_include_tag 'application' %>
</head>

<body class="">
  <nav class="navbar is-dark has-shadow">
    <div class="container is-fluid">
      <div class="navbar-brand">
        <%= link_to 'CheckItOut', welcome_index_path, class: "navbar-item is-tab" %>
      </div>
      <div class="navbar-menu ">
        <div class="navbar-start">
          <div class="navbar-item">
            <%= form_with  local: true, method: :get, html: { id: "search-form" } do |form| %>
              <div class="field">
                <div class="control">
                  <%= form.text_field :q, placeholder: "Find Student", class: "input", autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "false", id: 'member-autocomplete', data: { behavior: 'autocomplete'} %>
                </div>
              </div>
              <% end %>
          </div>

          <% nav_links selected_class:'is-active', url_segment: 1 do |nav| %>
            <%= nav.link_to 'Members', members_path, class: "navbar-item is-tab" %>
              <%= nav.link_to 'Items', items_path, class: "navbar-item is-tab" %>
                <% end %>
        </div>
        <div class="navbar-end">
          <a class="navbar-item is-tab" href="/admin">
            Admin
          </a>
        </div>
      </div>

    </div>
  </nav>

  <%= yield %>

    <div id="modal-holder"></div>

</body>

</html>