<section class="hero pagehead">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @member.full_name %>
      </h1>
      <h2 class="subtitle">
        <%= @member.id_number %>
          &bull;
          <%= @member.group.name %>
      </h2>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-boxed">
        <ul>
          <% nav_links selected_class:'is-active', wrapper: 'li' do |nav| %>
            <%= nav.link_to member_path(@member), class: "tab pagetab " do %>
              <span class="icon is-small">
                <i class="fa fa-briefcase"></i>
              </span>
              <span>Current</span>&nbsp;&nbsp;&nbsp;
              <% if ! @member.loans.active.blank? %>
                <span class="tag is-primary is-rounded">
                  <%= @member.loans.active.size %>
                </span>
              <% end %>
            <% end %>

            <%= nav.link_to history_member_path(@member), class: "tab pagetab" do %>
              <span class="icon is-small">
                <i class="fa fa-history"></i>
              </span>
              <span>History</span>&nbsp;&nbsp;&nbsp;
                <span class="tag is-rounded">
                  <%= @member.loans.size %>
                </span>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>