<div class="ui container">
  <h1 class="ui header">
    <%= @member.full_name %>
    <div class="sub header">
      <%= @member.id_number %>
      &bull;
      <%= @member.group.name %>
      <% if !@member.group.is_active? %>(inactive)<% end %>
    </div>
  </h1>
</div>

<div class="ui tabular menu">
  <%= link_to member_path(@member), class: "active item", data: { turbolinks: false } do %>
    <i class="fa fa-briefcase"></i>&nbsp;&nbsp;Current
    <% if ! @member.loans.active.blank? %>
      <div class="ui blue label"><%= @member.loans.active.size %></div>
    <% end %>
  <% end %>
  <%= link_to history_member_path(@member), class: "item", data: { turbolinks: false } do %>
    <i class="fa fa-history"></i>&nbsp;&nbsp;History
    <div class="ui label"><%= @member.loans.size %></div>
  <% end %>
</div>