<!-- app/views/layouts/modal.html.erb -->
<div class="level">
  <div class="level-item">
    <div class="control">
    <input type="text" id="search_term" class="input" autocomplete="off" autocapitalize="off" spellcheck="false" placeholder="Filter">
    <input type="hidden" id="filter_term">
    </div>
  </div>
  <div class="level-item">
    or
  </div>
  <div class="level-item">
    <div class="control">
      <div class="buttons has-addons are-small">
        <% @categories.each do |category| %>
        <span class="button filter is-small" data-filter="<%= category.name %>"><i class="<%= category.icon %>"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mt-3" style="height:300px;overflow:auto">
  <table id="item_list" class="table is-fullwidth is-hoverable">
    <thead>
      <th>Item</th>
      <th class="is-hidden">Serial Number</th>
      <th>Inventory&nbsp;Tag</th>
      <th class="is-hidden">Category</th>
      <th></th>
    </thead>
    <tbody class="list">
      <% @items.each do |item| %>
      <tr class="table-row">
        <td>
          <i class="<%= item.category.icon %>"></i>&nbsp;
          <%= item.brand %>
          <%= item.name %>
        </td>
        <td class="is-hidden">
          <%= item.serial_number %>
        </td>
        <td class="is-monospaced">
          <%= item.inventory_tag %>
        </td>
        <td class="is-hidden">
          <% if item.category %>
          <%= item.category.name %>
          <% end %>
        </td>
        <td>
          <%= button_to "borrow", borrow_member_path, class: 'button is-primary is-outlined is-small', params: { :inventory_tag => item.inventory_tag, :member_id => @member.id } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  function filter() {
    search_term = $("#search_term").val().toLowerCase();
    filter_term = $("#filter_term").val().toLowerCase();

    $.each($("#item_list .table-row"), function () {
      var row_text = $(this).text().toLowerCase();
      if (search_term.length === 0) {
        if ((filter_term.length > 0) && row_text.indexOf(filter_term) === -1) {
          $(this).hide();
        }
        else {
          $(this).show();
        }
      } else {
        if (row_text.indexOf(search_term) === -1) {
          $(this).hide();
        } else if ((filter_term.length > 0) && row_text.indexOf(filter_term) === -1) {
            $(this).hide();
        } else {
          $(this).show();
        }
      }
    });
  }

  $("#search_term").keyup(function () {
    filter();
  });

  $('.filter').on("click", function (source) {
    $("#filter_term").val("");

    if ($(this).hasClass('is-selected')) {
      $('.filter').removeClass('is-selected');
      $('.filter').removeClass('is-link');
    } else {
      $("#filter_term").val($(this).attr('data-filter'));
      $('.filter').removeClass('is-selected');
      $('.filter').removeClass('is-link');
      $(this).addClass('is-selected');
      $(this).addClass('is-link');
    }
    filter();
  });

  function toggleModalClasses(event) {
    var modalId = event.currentTarget.dataset.modalId;
    var modal = $(modalId);
    modal.toggleClass('is-active');
    $(".modal").removeClass("is-active");
  };
  $('.open-modal').click(toggleModalClasses);
  $('.modal-background').click(toggleModalClasses);
  $('.close-modal').click(toggleModalClasses);
</script>