<!-- app/views/layouts/modal.html.erb -->
<div class="level">
  <div class="level-item">
    <div class="control">
      <input type="text" id="search_field" class="input" autocomplete="off" autocapitalize="off" spellcheck="false"
        placeholder="Filter" data-qjs="#item_list .table-row">
    </div>
  </div>
  <div class="level-item">
    or
  </div>
  <div class="level-item">
    <div class="control">
      <div class="buttons has-addons are-small">
        <% @categories.each do |category| %>
        <span class="button filter is-small" data-filter="<%= category.name %>"><i class="<%= category.icon %>"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mt-3" style="height:300px;overflow:auto">
  <table id="item_list" class="table is-fullwidth is-hoverable">
    <thead>
      <th class="">Item</th>
      <th class="is-hidden">Serial Number</th>
      <th class="">Inventory&nbsp;Tag</th>
      <th class="is-hidden">Category</th>
      <th class=""></th>
    </thead>
    <tbody class="list">
      <% Item.available.each do |item| %>
      <tr class="table-row">
        <td class="listjs_brand_name">
          <i class="<%= item.category.icon %>"></i>&nbsp;
          <%= item.brand %>
          <%= item.name %>
        </td>
        <td class="listjs_sn is-hidden">
          <%= item.serial_number %>
        </td>
        <td class="listjs_tag is-monospaced">
          <%= item.inventory_tag %>
        </td>
        <td class="listjs_category is-hidden">
          <% if item.category %>
          <%= item.category.name %>
          <% end %>
        </td>
        <td>
          <%= button_to "borrow", borrow_member_path, class: 'button is-primary is-outlined is-small', params: { :inventory_tag => item.inventory_tag, :member_id => @member.id } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>

<script>
  $(function () {
    $("#search_field").qjsearch();
  });

  $('#search_field').on("keypress", function (source) {
    $('.filter').removeClass('is-selected');
    $('.filter').removeClass('is-link');
  });

  $('.filter').on("click", function (source) {
    var $q = $(this).attr('data-filter');
    $("#search_field").val('');
    $("#search_field").disabled = true;
    if ($(this).hasClass('is-selected')) {
      $('.filter').removeClass('is-selected');
      $('.filter').removeClass('is-link');
      var t = $(this),
        e = "#item_list .table-row",
        o = '';
      $(e).hide(), $.expr[":"].Contains = $.expr.createPseudo(function (e) {
        return function (t) {
          return 0 <= $(t).text().toUpperCase().indexOf(e.toUpperCase())
        }
      });
      var s = $(e + ':Contains("' + o + '")').show();
      s;
    } else {
      var t = $(this),
        e = "#item_list .table-row",
        o = $q;
      $(e).hide(), $.expr[":"].Contains = $.expr.createPseudo(function (e) {
        return function (t) {
          return 0 <= $(t).text().toUpperCase().indexOf(e.toUpperCase())
        }
      });
      var s = $(e + ':Contains("' + o + '")').show();
      s;

      $('.filter').removeClass('is-selected');
      $('.filter').removeClass('is-link');
      $(this).addClass('is-selected');
      $(this).addClass('is-link');
    }
  });

  function toggleModalClasses(event) {
    var modalId = event.currentTarget.dataset.modalId;
    var modal = $(modalId);
    modal.toggleClass('is-active');
    $(".modal").removeClass("is-active");
  };
  $('.open-modal').click(toggleModalClasses);
  $('.modal-background').click(toggleModalClasses);
  $('.close-modal').click(toggleModalClasses);
</script>