<td class="">
  <i class="<%= " #{loan.item.category.icon}" %>"></i>
</td>
<td>
  <%= " #{loan.item.name}" %>
</td>
<td class="">
  <%= " #{loan.item.inventory_tag}" %>
</td>
<td class="date-column is-hidden-mobile">
  <%= l(" #{loan.updated_at}".to_datetime, format: :m_d) %>
</td>
<td>
  <% if loan.active? %>
    <!-- <%= link_to 'Check In', loan_complete_path(" #{loan.id}"), method: :post, class: "", data: { confirm: "Confirm returning: #{loan.item.name} (#{loan.item.inventory_tag})?" } %> -->
    <%= link_to 'Check In', loan_complete_path(" #{loan.id}"), method: :post %>
  <% else %>
    <% if loan.today? %>
      <span class="tag is-light-green">
      <% else %>
        <span class="tag is-light">
        <% end %>
        RETURNED
      </span>
    <% end %>
  </td>