<td class="">
  <i class="<%= " #{loan.item.category.icon}" %>"></i>
</td>
<td>
  <%= " #{loan.item.full_name}" %>
</td>
<td class="">
  <%= " #{loan.item.inventory_tag}" %>
</td>
<td class="">
  <%= " #{loan.item.description}" %>
</td>
<td class="date-column is-hidden-mobile">
  <%= l(" #{loan.updated_at}".to_datetime, format: :m_d) %>
</td>
<td>
  <% if loan.active? %>
    <%= link_to return_member_path(" #{loan.id}"), method: :post do %>
    <%= icon('far', 'calendar-check') %>
    check in
  <% end %>

<% else %>
  <% if loan.today? %>
    <span class="tag is-light-green">
    <% else %>
      <span class="tag is-light">
      <% end %>
      RETURNED
    </span>
  <% end %>
</td>
