<td>
  <%= " #{loan.item.brand}" %>
</td>
<td>
  <%= " #{loan.item.name}" %>
</td>
<td class="">
  <%= link_to loan.item.inventory_tag, item_path(loan.item), class: "hidden-link" %>
</td>
<td>
  <%= " #{loan.item.serial_number}" %>
</td>
<td class="extra-padding">
  <i class="<%= " #{loan.item.category.icon}" %>"></i>
  <%= " #{loan.item.category.name}" %>
</td>
<td class=" date-column ">
  <%= l(" #{loan.created_at}".to_datetime, format: :table) %>
</td>
<td class="date-column ">
  <%= link_to 'Return', loan_complete_path(" #{loan.id}"), method: :post, class: "button is-outlined is-info is-xsmall has-text-centered" %>
</td>