  <div class="ui container">
    <h1 class="ui header">
      <%= @member.full_name %>
      <div class="sub header">
        <%= @member.id_number %>
        &bull;
        <%= @member.group.name %>
        <% if !@member.group.is_active? %>(inactive)<% end %>
      </div>
    </h1>
  </div>

  <div class="ui tabular menu">
    <%= link_to member_path(@member), class: "item", data: { turbolinks: false } do %>
      <i class="fa fa-briefcase"></i>&nbsp;&nbsp;Current
      <% if ! @member.loans.active.blank? %>
        <div class="ui circular label"><%= @member.loans.active.size %></div>
      <% end %>
    <% end %>
    <%= link_to history_member_path(@member), class: "active item", data: { turbolinks: false } do %>
      <i class="fa fa-history"></i>&nbsp;&nbsp;History
      <div class="ui orange circular label"><%= @member.loans.size %></div>
    <% end %>
  </div>
  <div class="container">
    <% flash.each_with_index do |(key, message), index| %>
      <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
        <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
        <%= raw(message) %>
      </div>
      <% end %>
  </div>

      <table id="loan_history" class=" ui large single line table">
        <thead>
          <th class="has-text-grey-dark has-text-weight-semibold item_name">
            Item
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold ">
            Inventory Tag
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold">
            Borrowed
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold">
            Returned
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold is-hidden-touch">
            Duration
          </th>
        </thead>
        <tbody>
          <% @member.loans.each do |loan| -%>
            <tr class="<%= 'has-background-warning-light' if loan.active? %>">
              <td>
                <i class="<%= loan.item.category.icon %>"></i>&nbsp;
                <span class="item_name">
                  <%= link_to item_path(loan.item.id) do %>
                    <%= loan.item.full_name %>
                  <% end %>
                </span>
              </td>
              <td class="is-monospaced">
                <%= loan.item.inventory_tag %>
              </td>
              <td class="is-monospaced">
                <%= local_time_ago(loan.created_at) %>
              </td>
                <% if loan.returned_at %>
              <td class="is-monospaced">
                <%= local_time_ago(loan.returned_at) %>
              </td>
                <% else %>
              <td class="is-monospaced">
                <div class="ui red small label">on loan</div>
              </td>
                <% end %>
              <td class="is-hidden-touch is-monospaced">
                <%= loan.days_borrowed %>
              </td>
            </tr>
            <% end -%>
        </tbody>
      </table>
