<%= render 'header' %>

  <div class="container">
    <% flash.each_with_index do |(key, message), index| %>
      <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
        <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
        <%= raw(message) %>
      </div>
      <% end %>
  </div>

  <section class="section">
    <div class="container">
      <table id="loan_history" class=" table is-hoverable is-fullwidth is-responsive is-striped">
        <thead>
          <th class="has-text-grey-dark has-text-weight-semibold item_name">
            Item
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold ">
            Serial Number
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold ">
            Inventory Tag
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold">
            Borrowed
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold">
            Returned
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold ">
            Duration
          </th>
        </thead>
        <tbody>
          <% @member.loans.each do |loan| -%>
            <tr class="<%= 'is-selected' if loan.active? %>">
              <td>
                <i class="<%= loan.item.category.icon %>"></i>&nbsp;
                <span class="item_name">
                  <%= link_to item_path(loan.item.id) do %>
                    <%= loan.item.full_name %>
                  <% end %>
                </span>
              </td>
              <td class="is-monospaced">
                <%= loan.item.serial_number %>
              </td>
              <td class="is-monospaced">
                <%= loan.item.inventory_tag %>
              </td>
              <td class="">
                <%= local_time_ago(loan.created_at) %>
              </td>
              <td class="">
                <% if loan.returned_at %>
                  <%= local_time_ago(loan.returned_at) %>
                    <% else %>
                      -
                      <% end %>
              </td>
              <td class="">
                <%= loan.days_borrowed %>
              </td>

            </tr>
            <% end -%>
        </tbody>
      </table>
    </div>
  </section>