<%= render 'header' %>

  <div class="container">
    <% flash.each_with_index do |(key, message), index| %>
      <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
        <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
        <%= raw(message) %>
      </div>
      <% end %>
  </div>

  <section class="section">
    <div class="container">
      <table id="member_loans" class=" table is-hoverable is-fullwidth is-responsive">
        <thead>
          <th class="has-text-grey-dark has-text-weight-semibold ">
            Item
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold ">
            Inventory Tag
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold ">
            Description
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold "> Category </th>
          <th class="has-text-grey-dark has-text-weight-semibold">
            Returned
          </th>
          <th class="has-text-grey-dark has-text-weight-semibold ">
            Duration
          </th>
        </thead>
        <tbody>
          <% @member.loans.each do |loan| -%>
            <tr class="<%= 'is-selected' if loan.active? %>">
              <td>
                <i class="<%= loan.item.category.icon %>"></i>
                <%= loan.item.full_name %>
              </td>
              <td class="">
                <%= loan.item.inventory_tag %>
              </td>
              <td class="">
                <%= loan.item.description %>
              </td>
              <td class="">
                <i class="<%= loan.item.category.icon %>"></i>
                <%= loan.item.category.name %>
              </td>

              <td class="">
                <%= local_time_ago(loan.updated_at) %>
              </td>
              <td class="">
                <%= loan.days_borrowed %>
                  <span class="is-pulled-right">
                    <%= link_to loan_path(" #{loan.id}"), data: { behavior: 'modal' } do %>
                      <i class="info-icon fas fa-info-circle"></i>
                      <% end %>
                  </span>
              </td>

            </tr>
            <% end -%>
        </tbody>
      </table>

    </div>
  </section>