<!-- <%= render 'admin/menu' %> -->
<section class="section">
  <div class="container">
    <% flash.each_with_index do |(key, message), index| %>
      <div class="notification <%= key %>" id="<%= key %>-<%= index %>">
        <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
        <%= message %>
      </div>
    <% end %>

    <h1 class="title">
      Member Search<br/>
      <span class="subtitle is-4 has-text-grey-dark has-text-weight-light">Results for: <span class="is-uppercase has-text-weight-bold "><%= @search_term %></span></span>
    </h1>

    <% if @members.blank? %>
      <section class="hero is-medium is-light has-text-centered">
        <div class="hero-body">
          <div class="container">
            <p class="subtitle is-4 has-text-grey-dark has-text-weight-light">
              No results
            </p>
          </div>
        </div>
      </section>
    <% else %>
      <table id="member_list" class="table order-table is-hoverable is-fullwidth">
        <thead>
          <th class="no-sort">
            <i class="fa fa-tag"></i>
          </th>
          <th>Full Name</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>ID Number</th>
          <th>Group</th>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td>
                <% if member.active_loans_count.nonzero? %>
                  <div class="tag is-warning"><%= member.active_loans_count %></div>
                <% end %>
              </td>
              <td><%= link_to member_path(member) do %><%= member.full_name %><% end %></td>
              <td><%= member.last_name %></td>
              <td><%= member.first_name %></td>
              <td><%= member.id_number %></td>
              <td><% if member.group %><%= member.group.name %><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="columns">
        <div class="column is-one-fourth">
          <%== pagy_info(@pagy) %>
        </div>
        <div class="column is-narrow">
          <%== pagy_bulma_nav(@pagy) %>
        </div>
      </div>
    <% end %>
  </div>
</section>