<%= render 'header' %>

  <div class="container">
    <% flash.each_with_index do |(key, message), index| %>
      <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
        <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
        <%= raw(message) %>
      </div>
      <% end %>
  </div>

  <section class="section">
    <div class="container">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <%= form_tag(borrow_member_path, id: "borrow-form" ) do %>
              <input type="hidden" name="member_id" value="<%= @member.id %>">

              <div class="field is-grouped">
                <div class="field">
                  <p class="control ">
                    <%= text_field_tag :inventory_tag, params[:inventory_tag], placeholder: "Scan Item", class: "input is-rounded", autofocus: true %>
                  </p>
                </div>
                <% end %>
              </div>
          </div>
          <div class="level-item">
            or
          </div>
          <div class="level-item">

            <%= link_to 'Browse Inventory', items_path %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <% if @member.loans.active.empty? %>
        <div class="box hero has-text-centered is-light">
          <div class="hero-body">
            <p class="subtitle  has-text-grey-dark has-text-weight-light">
              No items are borrowed.
            </p>
          </div>
        </div>
        <% else %>

          <table id="current_loans" class="table is-hoverable is-fullwidth is-responsive">
            <thead>
              <th class="has-text-grey-dark has-text-weight-semibold ">
                Item
              </th>
              <th class="has-text-grey-dark has-text-weight-semibold ">
                Inventory Tag
              </th>
              <th class="has-text-grey-dark has-text-weight-semibold">
                Borrowed
              </th>
              <th class="has-text-grey-dark has-text-weight-semibold ">
                Action
              </th>
            </thead>
            <tbody>
              <% @member.loans.active.each do |loan| -%>
                <tr>
                  <td>
                    <i class="<%= loan.item.category.icon %>"></i>
                    <%= loan.item.full_name %>
                  </td>
                  <td class="">
                    <%= loan.item.inventory_tag %>
                  </td>
                  <td class="">
                    <%= local_time_ago(loan.created_at) %>
                  </td>
                  <td class="">
                    <%= link_to return_member_path(" #{loan.id}"), class: 'is-7', method: :post do %>
                      <i class="fa fa-calendar-check-o"></i> check in
                      <% end %>
                  </td>

                </tr>
                <% end -%>
            </tbody>
          </table>
          <% end %>
    </div>
  </section>