<%= render 'header' %>

<% flash.each_with_index do |(key, message), index| %>
  <section class="section">
    <div class="container">
      <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
        <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
        <%= raw(message) %>
      </div>
    </div>
  </section>
<% end %>

<% if @member.loans.active.empty? %>
  <div class="box hero has-text-centered is-light">
    <div class="hero-body">
      <p class="subtitle  has-text-grey-dark has-text-weight-light">
        No items are borrowed.
      </p>
    </div>
  </div>
  <% else %>
        <%= form_tag(borrow_member_path, id: "borrow-form", class: "form-inline mt-4" ) do %>
          <input type="hidden" name="member_id" value="<%= @member.id %>">
          <%= text_field_tag :inventory_tag, params[:inventory_tag], placeholder: "Scan Item", class: "form-control", autofocus: true, autocomplete: "off", required: true, id: 'item-autocomplete', data: { behavior: 'autocomplete'} %>
          <%= link_to 'Browse', items_member_path, class: 'btn btn-outline-secondary', target: :_blank %>
        <% end %>

    <table id="current_loans" class="table table-hover mt-4">
      <thead>
        <th class="has-text-grey-dark has-text-weight-semibold border-top-0">
          Item
        </th>
        <th class="has-text-grey-dark has-text-weight-semibold border-top-0">
          Serial Number
        </th>
        <th class="has-text-grey-dark has-text-weight-semibold border-top-0">
          Inventory Tag
        </th>
        <th class="has-text-grey-dark has-text-weight-semibold border-top-0">
          Borrowed
        </th>
        <th class="has-text-grey-dark has-text-weight-semibold border-top-0">
          Action
        </th>
      </thead>
      <tbody>
        <% @member.loans.active.each do |loan| -%>
          <tr class="loan-item">
            <td>
              <i class="<%= loan.item.category.icon %>"></i>&nbsp;
              <%= link_to item_path(loan.item.id) do %>
                <%= loan.item.full_name %>
              <% end %>
            </td>
            <td class="is-monospaced font-weight-light">
              <%= loan.item.serial_number %>
            </td>
            <td class="is-monospaced font-weight-bold">
              <%= loan.item.inventory_tag %>
            </td>
            <td class="is-monospaced font-weight-light">
              <%= local_time_ago(loan.created_at) %>
            </td>
            <td class="">
              <%= link_to return_member_path(" #{loan.id}"), class: 'is-7', method: :post do %>
                <i class="fa fa-calendar-check-o"></i> check in
                <% end %>
            </td>
          </tr>
          <% end -%>
      </tbody>
    </table>
  <% end %>
</div>