<main class="main">
  <div class="container ">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title">
            <%= @member.full_name %>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-right">
          <%= form_tag(members_borrow_path, id: "borrow-form" ) do %>
          <div class="field has-addons">
            <input type="hidden" name="member_id" value="<%= @member.id %>">
            <div class="control is-expanded">
              <%= text_field_tag :inventory_tag, params[:inventory_tag], placeholder: "Scan Item", class: "input", autofocus: true %>
            </div>
            <div class="control">
              <%= submit_tag "Borrow", :name => nil, class: "button is-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
  <h3 id="summary" class="section">
    <a href="#summary">
      <span>#</span>
      <strong>Summary</strong>
    </a>
  </h3>
  <div class="summary level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">ID #</p>
        <p class="title is-size-4">
          <%= @member.id_number %>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Group</p>
        <p class="title is-size-4">
          <%= @member.group.name %>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Current Loans</p>
        <p class="title is-size-4">
          <%= @member.loans.active.size %>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Total Loans</p>
        <p class="title is-size-4">
          <%= @member.loans.returned.size %>
        </p>
      </div>
    </div>
  </div>
  <h3 id="history" class="section">
    <a href="#history">
      <span>#</span>
      <strong>History</strong>
    </a>
  </h3>
  <% if @member.loans.blank? %>
    <div class="box hero has-text-centered">
      <div class="hero-body">
        <p class="subtitle is-4 has-text-grey-dark has-text-weight-light">
          No items have been borrowed.
        </p>
      </div>
    </div>
  <% else %>
    <table class="large-element table is-outlined is-hoverable is-fullwidth">
      <thead>
        <th class="has-text-grey-dark has-text-weight-semibold">Brand</th>
        <th class="has-text-grey-dark has-text-weight-semibold">Item</th>
        <th class="has-text-grey-dark has-text-weight-semibold">Inventory #</th>
        <th class="has-text-grey-dark has-text-weight-semibold">Serial #</th>
        <th class="has-text-grey-dark has-text-weight-semibold extra-padding">Category</th>
        <th class="has-text-grey-dark has-text-weight-semibold date-column">Borrowed</th>
        <th class="has-text-grey-dark has-text-weight-semibold date-column">Returned</th>
      </thead>

      <tbody>
        <% @member.loans.active.each do |loan| -%>
          <tr class="is-active">
            <%= render partial: "loan", locals: { loan: loan } %>
          </tr>
        <% end -%>
        <% @member.loans.returned.each do |loan| -%>
          <tr class="is-returned">
            <%= render partial: "loan", locals: { loan: loan } %>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end %>

</div>
</main>